# Build System
out/
build/
bin/

# Temporary Directories
.tmp/

# VS Code Configs
.vscode/*

# C-Lion / IDEA files
.idea/*

# Python bytecodes
__pycache__
*.pyc
*.egg-info

# VSCode java extensions
.project

# clangd index files
.cache

# compilation database for VSCode and other Ides
compile_commands.json

# Doxygen outputs
docs/html

# user files
*.user*

# backup files
*~*
